* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;

    z-index: 1;
  }

  *::selection {
    color: #ffffff;
    background: #ffcb40;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: #010205;
  }

  #canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .container {
    padding: 2rem;
    
    max-width: 750px;

    display: flex;
    flex: 1;
    justify-self: center;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
  }

  .mobile #canvas {
    opacity: 0.6;
  }

  .mobile .container {
    max-width: 100%;
    padding: 4rem;
    justify-self: center;
    align-self: flex-start;
  }

  .mobile section p {
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    #canvas {
      opacity: 0.6;
    }

    .container {
      max-width: 100%;
      padding: 3rem;
      justify-self: center;
      align-self: flex-start;
    }

    section p {
      max-width: 100%;
    }
  }

  section {
    margin-bottom: 1.4rem;
  }

  section p {
    max-width: 380px;
  }

  section .more {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    padding-left: 42px;
  }

  footer {
    margin: 0 auto;
    max-width: 750px;
  }

  footer,
  footer * {
    font-size: 0.8rem;
    flex-shrink: 0;
    text-align: center;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
  }

  p {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: square;
  }

  ul li {
    line-height: 1.4;
  }

  .pointer {
    cursor: pointer;
  }

  a {
    letter-spacing: 0.75px;
  }

  a:hover {
    text-shadow: #ffffff 1px 0 10px;
  }

  section > header {
    margin-bottom: 0.8rem;
  }

  section > header > div {
    display: inline;
  }

  section.active > header > div {
    display: inline-block;
    transform: rotate(90deg) translate(10px, 6px);
  } 

  .chevron-right {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    top: 3px;
    left: -8px;
    transform: rotateX(45deg);
  }
  .chevron-right::after {
    content: "";
    display: inline;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
  }